.cli {
  padding-bottom: 10rem;
  img {
    height: 80%;
    width: 80%;
    object-fit: cover;
  }
}
.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.cli .grid > *:first-child {
  grid-column: 1/3;
  grid-row: 1/3;
}
